.myMatrix-button-inactive {
	list-style-image: url("chrome://myMatrix/skin/button-inactive.png");
}

.myMatrix-button-active {
	list-style-image: url("chrome://myMatrix/skin/button-active.png");
}

#myMatrix-button caption, #myMatrix-clearCache {
	list-style-image: none;
}