.matrixTools-button-inactive {
	list-style-image: url("chrome://matrixdevelopertoolbar/skin/button-inactive.png");
}

.matrixTools-button-active {
	list-style-image: url("chrome://matrixdevelopertoolbar/skin/button-active.png");
}

#matrixTools-button caption {
	list-style-image: none;
}